Set

* index ile erişilemezler, unordered yani sıralı değillerdir.
* Değiştirilemezler (immutable). Tupledan farkı burada sete yeni eleman ekleme çıkarma işlemlerini yapabiliyoruz. Ama setin içindeki bir elemanı değiştiremiyoruz.
* {} parantez içerisinde tanımlanırlar. Elemanlar virgüller ile ayrılır.
* Farklı tipte veriler içerebilir.
* Duplicate veri taşıyamazlar. Aynı değere sahip iki eleman bulunamaz.

In [1]:
int_set = {1, 2, 3, 4}
string_set = {"İdil", "Buket", "Yağmur"}
mix_set = {"Sisterslab", 2022, True, 3.14}

In [2]:

print(mix_set)

{True, 3.14, 2022, 'Sisterslab'}

In [3]:
print(type(mix_set))

<class 'set'>

In [4]:
my_set = {1, 3, 4, 2, 1, 3, 4, 2, 5} #duplicate veriler kaldırılır
print(my_set)

{1, 2, 3, 4, 5}

In [5]:
my_list = [1, 3, 4, 2, 1, 3, 4, 2, 5, 5, 4, 3]
print(my_list)

#Set ile duplicate verilerin silinmesi
my_set = set(my_list)
print(my_set)

my_list = list(my_set)
print(my_list)

[1, 3, 4, 2, 1, 3, 4, 2, 5, 5, 4, 3]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [6]:
my_list = [1, 6, 3, 4, 2, 1, 3, 4, 2, 5, 5, 4, 3]
print(my_list)
#döngü ile kontrol (duplicate verilerin silinmesi)
unique_list = []
for i in my_list:
    if i not in unique_list:
        unique_list.append(i)

print(unique_list)

[1, 6, 3, 4, 2, 1, 3, 4, 2, 5, 5, 4, 3]
[1, 6, 3, 4, 2, 5]

In [7]:
#Set içerisinde liste 
my_set = {"Nurcan", "Nurdan", "Ceyda", ["İdil", "Nurefşan"]}

print(my_set)

TypeError: unhashable type: 'list'

In [8]:
#set içerisinde tuple
my_set = {"Nurcan", "Nurdan", "Ceyda", ("İdil", "Nurefşan")}

print(my_set)

{'Ceyda', 'Nurcan', ('İdil', 'Nurefşan'), 'Nurdan'}

In [9]:
#set içerisinde tuple, tuple içerisinde list
my_set = {"Nurcan", "Nurdan", "Ceyda", ("İdil", "Nurefşan", ["Aysel", "Merve"])}

print(my_set)

TypeError: unhashable type: 'list'

Boş bir set oluşturma

* my_list -> []
* my_tuple-> ()

In [10]:
my_set = {} #boş dictionary oluşturur
print(type(my_set))

<class 'dict'>

In [11]:
empty_set = set() #boş bir set oluşturur
print(type(empty_set))

<class 'set'>

In [12]:
movies = {"The Office", "The Bing Bang Theory", "Person of Interest"}

for item in movies:
    print(item)

Person of Interest
The Bing Bang Theory
The Office

Set içerisinde eleman kontrolü

In [13]:
movies = {"The Office", "The Bing Bang Theory", "Person of Interest"}

if "Harry Potter" in movies:
    print("Diziler içinde mevcut")
else:
    print("Diziler içerisinde mevcut değildir")

Diziler içerisinde mevcut değildir

Bir setin uzunluğu

In [14]:

print(len(movies))

3

Bir Set'e eleman ekleme

* add() sete yeni bir eleman eklenir
* update() metodu ile de birden fazla ekleme işlemi yapılır

In [15]:
books = {"Serenad", "Küçük Prens", "Şeker Portakalı", "Harry Potter"}

books.add("İnce Memed")
print(books)

{'Serenad', 'İnce Memed', 'Şeker Portakalı', 'Harry Potter', 'Küçük Prens'}

In [16]:
books.update(["Demir Ökçe", "1984"])
print(books)

{'Serenad', 'Demir Ökçe', 'İnce Memed', '1984', 'Şeker Portakalı', 'Harry Potter', 'Küçük Prens'}

Bir set içerisinden eleman silme

* remove()
* discard()
* pop()
* clear()
* del set

In [17]:
#remove()
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}
my_set.remove(2)

print(my_set)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
my_set.remove(11)

KeyError: 11

In [19]:
#Discard()
my_set.discard(3)
print(my_set)

{0, 1, 4, 5, 6, 7, 8, 9, 10}

In [20]:
my_set.discard(11) #removedan farkı olmayan elemanı silmeye çalıştığımız hata vermez

print(my_set)

{0, 1, 4, 5, 6, 7, 8, 9, 10}

In [21]:
# pop()
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10}

my_set.pop() #rastgele bir elemanı siler
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
#clear() -> Set içerisindeki tüm elemanları silip boş bir çıktı vermek için kullanılır

my_set.clear()
print(my_set)

set()

In [23]:
#del 
del my_set
print(my_set)

NameError: name 'my_set' is not defined

Set üzerinde kullanabileceğimiz operatörler

* union() -> |
* intersection() -> &
* difference() -> -
* symmetric_difference() -> ^


Union() iki setin birleştirilme işlemi için kullanılır. Her iki sette yer alan elamanı tek olacak şekilde ekler

In [24]:
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

my_set3 = my_set1 | my_set2
print(my_set3)

{'Bircan', 'Emre', 'Asena', 'Bilal', 'Burak', 'Başak'}

In [25]:
my_set4 = my_set1.union(my_set2)
print(my_set4)

{'Bircan', 'Emre', 'Asena', 'Bilal', 'Burak', 'Başak'}

intersection (Kesişim) Her iki sette yer alan ortak elemanları gösterir

In [26]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

new_set = my_set1 & my_set2
print(new_set)

{4, 5}

In [27]:
new_set = my_set1.intersection(my_set2)
print(new_set)

{4, 5}

In [28]:
print(my_set1)
my_set1.intersection_update(my_set2)
print(my_set1)

{1, 2, 3, 4, 5}
{4, 5}

In [29]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

new_set = my_set1 - my_set2
print(new_set)

print(my_set1.difference(my_set2))

{1, 2, 3}
{1, 2, 3}

In [30]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

print(my_set2)
my_set2.difference_update(my_set1)
print(my_set2)

{4, 5, 6, 7, 8}
{6, 7, 8}

symmetric_difference -> Ortak eleman dışındaki elemanları alır

In [31]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

unique_set = my_set1 ^ my_set2
print(unique_set)

unique_set2 = my_set1.symmetric_difference(my_set2)
print(unique_set2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

symmetric_difference_update()

In [32]:
print(my_set2)
my_set2.symmetric_difference_update(my_set1)
print(my_set2)

{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

Kopyalama İşlemleri

* copy()
* set()
* = operatörü

In [33]:
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = my_set
my_set.add(19)

print(my_set)
print(my_set2)

{True, 2022, 'Macbook', 'Iphone', 19}
{True, 2022, 'Macbook', 'Iphone', 19}

In [34]:
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = my_set.copy()
my_set.add(19)

print(my_set)
print(my_set2)

{True, 2022, 'Macbook', 'Iphone', 19}
{True, 'Macbook', 2022, 'Iphone'}

In [35]:
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = set(my_set)
my_set.add(19)

print(my_set)
print(my_set2)

{True, 2022, 'Macbook', 'Iphone', 19}
{True, 'Macbook', 2022, 'Iphone'}

* issubset() -> alt küme kontrolü
* issuperset() -> üst kümse kontrolü

In [36]:
my_set = {3, "Python", 4, 7, True}
sub_set = {"Python"}

print(sub_set.issubset(my_set)) #sub_set my_set'in alt kümesi mi
print(my_set.issuperset(sub_set))

print(sub_set.issuperset(my_set))
print(my_set.issubset(sub_set))

True
True
False
False

Frozenset -> Değişmez bir set oluşturmak için kullanılır

In [37]:
name_set = {"Merve", "Hilal", "Nihal"}
frozen_set = frozenset(name_set)

frozen_set.add("Aysel")

AttributeError: 'frozenset' object has no attribute 'add'

In [38]:
frozen_set.remove("Hilal")

AttributeError: 'frozenset' object has no attribute 'remove'

new_set = {expression(i) for i in my_set if i in condition}

In [39]:
#1 den 10 kadar olan sayıların iki katını ekrana bas
new_set = {i*2 for i in range(1, 10)}

print(new_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [40]:

#1den 10 a kadar sadece çift sayıların iki katını alıp ekrana bas

new_set = {i*2 for i in range(1, 10) if i % 2 == 0}
print(new_set)

{8, 16, 4, 12}

In [41]:
#bir listenin tüm elemanlarını bir sete ekleme işlemi yapalım

my_set = {1,2,3,4,5}
my_list = [4,5,6,7]

my_set.update(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [42]:
#iki sette yer alan benzersiz elemanlardan bir set oluşturalım

my_set = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

print(my_set.symmetric_difference(my_set2))

{1, 2, 3, 6, 7, 8}